<h1>About</h1>
<p>
	<% link_to "Test 1", "http://www.google.com" %>
	is a project to teach Hunter how to use
	<% link_to "Ruby on Rails", "http://www.rubyonrails.org" %>
	In one month, this is the sample application.