<div class="hero-unit">
	<h1>First Test!</h1>
	<p>
		You're here!
		<%= link_to "Test this again", "http://google.com" %>
	</p> 
	<p>
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
	 </p>
</div>

